<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fastshare</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="send-receive">
        <a href="/share/send">Send Files</a>
        <a href="/share/receive">Receive Files</a>
    </div>
</body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io("http://localhost:5000");

    </script>
</html>
