<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FastShare</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
<div id="room-code">
    <h1 id="code">Not Connected.</h1>
</div>
<div id="mainDiv">
<form id="frm">
    <input id="room" type="text" placeholder="Code"/>
    <br>
    <br>
    <button type="submit">Join</button>
    <button id="dwnall">Download All</button>
</form>
    <div id="filelist"></div>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.3.0/jszip.js"></script>
<script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
var zip = new JSZip();
function SaveAsFile(t,f,m) {
    try {
        var b = new Blob([t],{type:m});
        saveAs(b, f);
    } catch (e) {
        window.open("data:"+m+"," + encodeURIComponent(t), '_blank','');
    }
}

const list = document.querySelector("#file-list");
const socket = io("http://localhost:5000/");
document.querySelector("#frm").addEventListener("submit", e => {
    e.preventDefault();
    let room = document.querySelector("#room").value;
    socket.emit("join", room);
});

socket.on("joined", room => {
    document.querySelector("#code").innerHTML = `Joined ${room}`;
});

socket.on("receive", data => {
    const fileElement = document.querySelector("#file-list");
    data.map(file => {
        zip.file(file.name, file.buffer, { binary: true });
        const node = document.createElement("h3");
        const link = document.createElement("button");
        link.innerHTML = "Download";
        node.innerHTML = file.name;
        fileElement.appendChild(node);
        fileElement.appendChild(link);
        link.onclick = function() {
            SaveAsFile(file.buffer, file.name);
        }
    });
});

const dwnall = document.querySelector("#dwnall");
dwnall.addEventListener("click", () => {
    zip.generateAsync({type:"blob"})
    .then(function(content) {
        saveAs(content, "Archive.zip");
    });
});


</script>
</html>
