<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p id="code"></p>
<form id="frm">
    <input id="file-input" type="file" multiple />
    <br>
    <br>
    <button type="submit">Send</button>
</form>
</body>
<script src="/socket.io/socket.io.js"></script>
<script>
const socket = io("http://localhost:5000");
var cod;
socket.on("code", code => {
    document.querySelector("#code").innerHTML = `Code: ${code}`;
    cod = code;
    socket.emit("join", code);
});

const inputElement = document.getElementById("file-input");
const formElement = document.getElementById("frm");
var fileList = [], fileNameList = [];
inputElement.addEventListener("change", e => {
    fileList = [];
    for (var t=0;t<inputElement.files.length;++t) {
        fileList.push(inputElement.files[t]);
        fileNameList.push(inputElement.files[t].name);
    }
    console.log(fileList);
});

formElement.addEventListener("submit", e => {
    e.preventDefault();
    socket.emit("handle-files", ({ fileList: fileList, cod: cod, fileNameList: fileNameList}));
});



</script>
</html>
