body {
    background: #CED9E0;
    font-family: 'Balsamiq Sans', cursive;

}

#room-code {
    text-align: center;
}
    #filelist::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

#frm {
  position: absolute;
  top: 50%;
  left: 30%;
  -ms-transform: translatex(-50%) translatey(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
background-color: #efefef;
		color: #000;
		height: 10vh;
		width: 20%;
                text-align: center;
		float: left;
                padding: 20px;
                border-radius: 5px;
            }

#mainDiv {
                border-radius: 5px;

    background-color: #006699;
		color: #fff;
		height: 80vh;
		width: 80vw;
		margin: 0px auto;
		padding: 5px;
}

#filelist {
    text-align: center;
    overflow: scroll;
                border-radius: 5px;
  background-color: #efefef;
		color: #000;
		height: 80vh;
		width: 49%;
		float: right;
}

#send-receive {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translatex(-50%) translatey(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
#box {
  width: 20vw;
  border: 15px solid #394B59;
  margin: 20px;
  text-align: center;
  background: #394B59;
  border-radius: 3px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

button {
    background: #FFFFFF;
    border: black 0.5px solid;
    outline: none;
    font-size: 18px;
}
button:hover {
    cursor: pointer;
}
